.bg-light-blue{
    background-color: $light-blue !important;
}
.bg-white{
    background-color: $white !important;
}
.bg-light-blue-5 {
    background-color: $light-blue-5 !important;
}
.bg-green{
    background-color: $green !important;
}
.bg-orange{
    background-color: $orange !important;
}
.bg-dark-gray{
    background-color:$dark-gray !important;
}
.bg-blue{
    background-color:$blue !important;
}
.bg-light-gray{
    background-color: $light-gray !important;
}
.bg-red{
    background-color: $red !important;
}

.c-light-blue{
    color: $light-blue !important;
}
.c-white{
    color: $white !important;
}
.c-light-blue-5 {
    color: $light-blue-5 !important;
}
.c-green{
    color: $green !important;
}
.c-orange{
    color: $orange !important;
}
.c-dark-gray{
    color:$dark-gray !important;
}
.c-blue{
    color:$blue !important;
}
.c-light-gray{
    color: $light-gray !important;
}
.c-red{
    color: $red !important;
}
