$bg-body: #f9f9f9;
$bg-side-menu: #f2f3f5;
$bg-side-menu-30: rgba(242,243,245,.3);

$light-blue: #41B0CE;
$light-blue-5:rgba(65, 176, 206, .05);
$light-blue-50: rgba(65, 176, 206, .5);
$green: #13BF30;
$green-50: rgba(19, 191, 48, .5);
$orange: #FFC229;
$orange-50: rgba(255, 194, 41, .5);
$dark-gray: #666766;
$dark-gray-50: rgba(102, 103, 102, .5);
$dark-gray-60: rgba(102, 103, 102, .6);
$blue: #151433;
$blue-50: rgba(21, 20, 51, .5);
$white: #fff;
$light-gray: #F1F1F1;
$light-gray-50: rgba(241, 241, 241, .5);
$red: #EB5757;
$red-50: rgba(235, 87, 87, .5);
$red-20: rgba(235, 87, 87, .2);

$font-family-base: 'Roboto', sans-serif !default;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-title: 30px;


