$bg-body: #f9f9f9;
$bg-side-menu: #f2f3f5;

$light-blue: #41B0CE;
$light-blue-5:rgba(65, 176, 206, .05);
$green: #13BF30;
$orange: #FFC229;
$dark-gray: #666766;
$blue: #151433;
$white: #fff;
$light-gray: #F1F1F1;
$red: #EB5757;

$font-family-base: 'Roboto', sans-serif !default;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-title: 30px;


