$bg-body: #f5f6fa;
$bg-side-menu: #f2f3f5;
$bg-side-menu-30: #f5f6fa;

$light-blue: #41b0ce;
$light-blue-5: #ecf7fa;
$light-blue-50: #a0d7e6;
$green: #13bf30;
$green-50: #89df97;
$orange: #ffc229;
$orange-50: #ffe094;
$dark-gray: #666766;
$dark-gray-50: #a3a4a3;
$dark-gray-60: #b2b3b2;
$blue: #151433;
$blue-50: #8a8999;
$white: #fff;
$light-gray: #f1f1f1;
$light-gray-50: #f8f8f8;
$red: #eb5757;
$red-50: #f5abab;
$red-20: #fbdddd;
$placeholder-color: #9d9e9d;

$font-family-base: 'Roboto', sans-serif !default;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-big: 24px;
$font-size-title: 30px;
