@import 'variables';
@import 'patterns/colors';
@import 'patterns/elements';

button {
  outline: none !important;
}
a {
  text-decoration: none;
}
.wrapper {
  font-family: $font-family-base;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  background-color: $bg-body;
  width: 100%;
  height: 100%;
  outline: none;
  header {
    width: 100%;
    height: 96px;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid $light-gray;
    .logo {
      width: 176px;
      height: 48px;
      margin: 24px;
      display: inline-block;
      img {
        max-width: 176px;
        max-height: 48px;
      }
    }
    .user-box {
      position: fixed;
      top: 24px;
      right: 24px;
      min-width: 150px;
      width: auto;
      justify-content: space-between;
      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        float: right;
        overflow: hidden;
        p {
          line-height: 48px;
          width: 48px;
          height: 48px;
          background-color: $light-blue;
          color: $white;
          font-size: 20px;
          font-weight: $font-weight-bold;
          margin: 0;
          padding: 0;
          border: 0;
          text-align: center;
        }
        img {
          width: 48px;
          height: 48px;
          border-radius: 24px;
        }
      }
      .text {
        width: auto;
        min-width: 100px;
        height: 48px;
        float: left;
        margin-right: 12px;
        span {
          font-size: $font-size-medium;
          font-weight: $font-weight-bold;
          color: $dark-gray;
          display: block;
          text-align: right;
          line-height: 20px;
          margin-top: 5px;
        }
        strong {
          font-size: $font-size-medium;
          font-weight: $font-weight-medium;
          color: $light-blue;
          display: block;
          text-align: right;
          line-height: 20px;
          margin-top: -2px;
        }
      }
      .user-menu {
        position: absolute;
        width: 240px;
        height: 160px;
        padding-top: 24px;
        top: 48px;
        right: 10px;
        display: none;
        ul {
          display: block;
          background-color: $light-blue;
          border-radius: 10px;
          padding: 10px 1px;
          li {
            height: 40px;
            width: 100%;
            list-style: none;
            position: relative;
            z-index: 10;
            a {
              line-height: 40px;
              width: 100%;
              padding: 0 24px;
              color: $white;
              text-decoration: none;
            }
            &:hover {
              background-color: $white;
              a {
                color: $light-blue;
              }
            }
          }
        }
        &::after {
          width: 48px;
          height: 48px;
          background: $light-blue;
          border-radius: 10px;
          content: '';
          position: absolute;
          top: 8px;
          right: 32px;
          transform: rotate(45deg);
          z-index: 0;
        }
      }
      &.on {
        .user-menu {
          display: block;
        }
      }
    }
  }
  .main-content {
    display: flex;
    position: relative;
    margin-top: 96px;
    width: 100%;
    align-items: stretch;
    .side-menu {
      width: 200px;
      background-color: $bg-side-menu;
      ul {
        display: block;
        position: relative;
        margin: 0;
        width: 100%;
        padding: 0;
        li {
          background-color: $white;
          min-height: 62px;
          border-left: 4px solid $white;
          margin-bottom: 1px;
          list-style: none;
          a {
            display: block;
            padding-left: 20px;
            color: $dark-gray;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            line-height: 61px;
          }
          .sub-item {
            height: 0;
            width: 200px;
            margin-left: -4px;
            overflow: hidden;
            -webkit-transition: height 1s linear 0s;
            -moz-transition: height 1s linear 0s;
            -ms-transition: height 1s linear 0s;
            -o-transition: height 1s linear 0s;
            transition: height 1s linear 0s;
            li {
              height: 40px;
              min-height: 40px;
              background-color: $light-blue-5;
              border-left-color: $light-blue;
              a {
                line-height: 40px;
                padding-left: 30px;
                &.active {
                  background-color: $light-blue;
                  color: $white;
                }
              }
              &:first-child {
                border-top: 1px solid $light-gray;
              }
              &:hover {
                background-color: $light-blue;
                a {
                  color: $white;
                }
              }
            }
          }
          &:hover {
            border-left-color: $light-blue;
            a {
              color: $light-blue;
            }
          }
          &.active {
            border-left-color: $light-blue;
            a {
              color: $light-blue;
            }
            .sub-item {
              height: auto;
            }
          }
          &.open {
            border-left-color: $light-blue;
            a {
              color: $light-blue;
            }
            .sub-item {
              height: auto;
            }
          }
        }
      }
    }
    .content {
      width: calc(100% - 200px);
    }
  }
  .bt {
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0 40px;
    font-size: $font-size-large;
    font-weight: $font-weight-black;
    font-family: $font-family-base;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    &.bt-square {
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      padding: 0;
    }
    &.bt-check {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
  }
  .input-post-icon {
    line-height: 48px;
    border-radius: 5px;
    border: none;
    background: $white;
    padding: 0 48px 0 16px;
    display: inline-block;
    position: relative;
    input {
      line-height: 48px;
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
    }
    i {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 14px;
      top: 14px;
      color: $light-blue;
    }
  }
}
.list-box {
  margin: 0;
  width: 100%;
  padding: 0 32px 32px;
  .list-table {
    max-width: 1128px;
  }
  table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    thead {
      height: 64px;
      background-color: $white;
      tr {
        height: 64px;
        th {
          line-height: 64px;
          color: $dark-gray;
          font-size: $font-size-medium;
          font-weight: $font-weight-bold;
          padding: 0;
          &:first-child {
            padding-left: 24px;
          }
          &:last-child {
            padding-right: 24px;
          }
        }
      }
    }
    tbody {
      tr {
        background-color: $light-blue-5;
        height: 72px;
        overflow: hidden;
        td {
          height: 72px;
          font-size: $font-size-small;
          font-weight: $font-weight-bold;
          color: $dark-gray;
          padding: 0;
          &:first-child {
            padding-left: 24px;
          }
          &:last-child {
            padding-right: 24px;
          }
          .two-lines {
            display: inline-flex;
            flex-flow: column;
            margin: 18px 0;
            span {
              line-height: 16px;
              margin: 0 0 4px 0;
              &.blue {
                color: $light-blue;
                margin: 0;
                font-weight: $font-weight-medium;
              }
            }
          }

          .avatar {
            margin: 16px 16px 16px 0;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $white;
            text-align: center;
            box-shadow: 0 0 4px #ccc;
            span {
              background-color: $dark-gray;
              line-height: 40px;
              display: block;
              width: 100%;
              border-radius: 20px;
            }
          }
          .img-holder {
            background: $white;
            height: 40px;
            margin: 16px 16px 16px 0;
            max-width: 100px;
            img {
              height: 40px;
              box-shadow: 0 0 4px #ccc;
            }
          }
          .img-holder-square {
            height: 40px;
            margin: 16px 16px 16px 0;
            width: 40px;
            img {
              height: 40px;
              width: 40px;
              box-shadow: 0 0 4px #ccc;
            }
          }
          .actions {
            margin: 24px 0;
            display: flex;
            height: 24px;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            .bt {
              height: 24px;
              width: 24px;
              margin-left: 24px;
              padding: 0;
              line-height: 24px;
              background: transparent;
              cursor: pointer;
              i {
                display: block;
                width: 24px;
                height: 24px;
                font-size: 24px;
              }
              &.c-light-gray {
                .icon-icon-check:before {
                  color: #ababab;
                }
              }
            }
          }
          &.td-flex {
            display: inline-flex;
            align-items: center;
          }
        }
        &:nth-child(even) {
          background-color: $white;
        }
      }
    }
  }
  .box-pagination {
    height: 80px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: $white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light-gray;
    .box-qty {
      a {
        margin-right: 8px;
        cursor: pointer;
        &.bg-light-blue {
          cursor: default;
          pointer-events: none;
        }
      }
    }
    .box-total {
      p {
        margin: 0;
        line-height: 47px;
      }
    }
    .box-right {
      display: flex;
      justify-content: flex-end;
      .box-pag {
        width: 336px;
        height: 48px;
        display: flex;
        justify-content: flex-end;
        margin: 0 16px 0 0;
        padding: 0;
        li {
          list-style: none;
          margin-right: 8px;
          cursor: pointer;
          &.bt-arrow {
            width: 24px;
            height: 24px;
            margin: 12px 8px 12px 0;
            text-align: center;
          }
          &:last-child {
            margin-right: 0;
          }
          &.disabled {
            cursor: not-allowed;
          }
          &.active {
            pointer-events: none;
            cursor: default;
            a {
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
      .change-page {
        border: 1px solid $light-gray;
        min-width: 148px;
        height: 48px;
        border-radius: 5px;
        display: flex;
        input {
          height: 46px;
          line-height: 46px;
          border: none;
          color: $light-blue;
          font-size: $font-size-medium;
          font-weight: $font-weight-black;
          width: 48px;
          text-align: right;
          margin-right: 4px;
          border-radius: 5px;
          outline: none;
          &.disabled {
            pointer-events: none;
          }
        }
        span {
          color: $dark-gray;
          font-size: $font-size-medium;
          font-weight: $font-weight-black;
          line-height: 46px;
          min-width: 48px;
        }
        i {
          width: 48px;
          height: 48px;
          line-height: 48px;
          margin: -1px;
          background-color: $light-gray;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          &.disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
.edit-box {
  margin: 0;
  width: 100%;
  padding: 0 32px 32px;
  .box-actions {
    .bt {
      margin-left: 16px;
    }
  }
  .ias-card {
    padding: 24px;
    border-radius: 10px;
    background-color: $white;
    max-width: 1128px;
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .form-left {
      width: 68%;
    }
    .form-right {
      width: 32%;
    }
    form {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .ias-row {
      height: 56px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      .div-spacer {
        flex-grow: 1;
        margin-right: 24px;
        flex-basis: 100%;
      }
      .form-actions {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        .ias-check {
          margin-left: 24px;
          margin-right: 12px;
        }
      }
      &.ias-has-error {
        position: relative;
      }
    }
    .ias-row-editor {
      min-height: 250px;
      margin-bottom: 40px;
      padding-right: 24px;
      position: relative;
      .quillWrapper {
        border-radius: 5px;
        margin: 0;
        background-color: $bg-side-menu-30;
        .ql-toolbar {
          border: none;
          text-align: left;
          border-bottom: 1px solid $white;
        }
        .ql-container.ql-snow {
          border: none;
          .ql-editor {
            color: $dark-gray;
            font-family: $font-family-base;
            font-size: $font-size-large;
            font-weight: $font-weight-medium;
            max-height: 500px;
            p {
              color: $dark-gray;
              font-family: $font-family-base;
              font-size: $font-size-large;
              font-weight: $font-weight-medium;
            }
            &.ql-blank::before {
              color: $dark-gray;
              opacity: 0.6;
            }
          }
        }
      }
      &.has-error {
        .quillWrapper {
          background-color: $red-20;
        }
      }
    }
  }
}
.page-header {
  width: 100%;
  height: auto;
  margin: 24px 0;
  max-width: 1128px;
  h2 {
    line-height: 48px;
    margin: 8px 0 0 0;
    display: inline-block;
    font-size: $font-size-title;
    color: $light-blue;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }
  .box-actions {
    float: right;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .search {
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      color: $dark-gray;
      width: 400px;
      margin-bottom: 8px;
      input {
        color: $dark-gray;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        outline: none;
        &::placeholder {
          color: $placeholder-color;
          font-weight: $font-weight-medium;
          font-size: $font-size-medium;
        }
      }
      .bt-clear-search {
        cursor: pointer;
      }
    }
    .bt {
      margin-bottom: 8px;
      cursor: pointer;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6em;
      }
    }
    .filter {
      width: 64px;
      height: 64px;
      display: inline-block;
      padding: 8px;
      margin: 0 8px;
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      &.active {
        background-color: $light-blue-5;
      }
    }
  }
  .filters {
    padding: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: $light-blue-5;
    margin-top: 8px;
    border-radius: 5px;
    .v-select {
      width: 23%;
      margin-left: 2%;
      &.no-margin {
        margin: 0;
      }
    }
  }
}

.ias-row {
  .ias-input-group {
    .el-date-editor {
      .el-icon-circle-close {
        line-height: 56px;
        margin-top: -20px;
        font-family: 'icomoon' !important;
        color: $red;
        &::before {
          content: '\e913' !important;
        }
      }
    }
  }
}

button {
  &:disabled {
    cursor: not-allowed !important;
  }
}
.edit-box .ias-card .ias-row.ias-questions {
  background-color: #f5fbfc;
  border-radius: 5px;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  .actions {
    margin: 0;
    display: flex;
    height: 24px;
    flex-flow: row;
    flex-wrap: nowrap;
    .bt {
      height: 24px;
      width: 24px;
      margin-left: 24px;
      padding: 0;
      background: transparent;
      cursor: pointer;
      i {
        display: block;
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
      &.c-light-gray {
        .icon-icon-check:before {
          color: #ababab;
        }
      }
    }
  }
}
.ql-editor.ql-blank::before {
  color: $dark-gray !important;
  opacity: 0.6 !important;
}
.ias-dash-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h2 {
    color: $light-blue !important;
    margin: 32px 16px 16px;
    font-size: $font-size-big;
    text-transform: uppercase;
  }
  .card {
    background-color: $bg-body !important;
    padding: 15px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    margin: 0 24px 0 0 !important;
    &:last-child {
      margin: 0 !important;
    }
    .card-title {
      color: $light-blue !important;
      text-transform: uppercase;
      font-size: $font-size-large;
    }
  }
  .chart-column {
    width: calc(25% - 20px);
  }
}
.login-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-side-menu;
  z-index: 100;
  .modal-login {
    width: 400px;
    padding: 24px;
    background-color: $white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      margin: 0 auto;
      max-width: 300px;
    }
    p {
      width: 100%;
      line-height: 19px;
      margin: 0;
      font-size: $font-size-medium;
      font-weight: $font-weight-black;
      color: $green;
    }
    button.bt-modal {
      width: 100%;
      height: 56px;
      line-height: 56px;
      color: $white;
      font-size: $font-size-medium;
      font-weight: $font-weight-black;
      border-radius: 5px;
      margin: 24px 0 0 0;
      border: none;
      font-family: $font-family-base;
      cursor: pointer;
    }
    .text-right {
      text-align: right;
    }
    .bt-link {
      font-style: italic;
      font-size: $font-size-small;
      color: $dark-gray;
    }
    h4 {
      font-size: $font-size-medium;
      font-weight: $font-weight-black;
      color: $dark-gray;
      text-transform: uppercase;
      text-align: center;
    }
    h5 {
      font-size: $font-size-medium;
      color: $dark-gray;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      text-align: center;
    }
    .mt-40 {
      margin-top: 40px;
    }
    .mt-24 {
      margin-top: 24px;
    }
    .mt-8 {
      margin-top: 8px;
    }
    .ias-input-group {
      margin: 0;
    }
  }
}

.ias-loading {
  position: relative;
  &::before {
    content: ' ';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
  }
  &::after {
    position: absolute;
    content: url(../img/ajax-loader.gif);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-gray;
    z-index: 220;
  }
}
